{% extends 'main.html' %}
{% block content %}









<a href="{% url 'products' %}">back to all products:</a>

 <!-- Main Section -->
 <main class="singleProduct my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <h3 class="singleProject__subtitle">category</h3>
          <div class="singleProduct__toolStack">
            {% for tag in product.tags.all %} 
            <span class="tag tag--pill tag--sub tag--lg">
              <small>{{tag}}</small>
            </span>
            {% endfor %}
            
          </div>
        {% if product.source_link %}
          <a class="singleProject__liveLink" href="{{product.source_link}}" target="_blank"><i class="im im-external-link"></i>Source Code
            
        </a>
          {% endif %}
        </div>
        <div class="column column--2of3">
          <img class="singleProduct__preview" src="{{product.featured_image.url}}"  width="300" height="300" alt="portfolittto thumbnail" />
          <a href="{% url 'user_profile' product.owner.id  %}" class="singleProduct_producer"></a>
          <h2 class="singleProduct__title">{{product.title}}<br></h2>
          
          <h3 class="singleProject__subtitle">About the Product</h3>
          <div class="singleProduct__info">
            {{product.description}}
            {{product.source_link}}
            
            
          </div>

          <div class="comments" >
            <h3 class="singleProduct__subtitle">Feedback</h3>
            <h5 class="product--rating">
            {{product.vote_ratio}}% positive {{product.vote_total}} votes
            </h5>
            {% if request.user.profile.id in project.reviewers  %}
            <p>you have already submitted your review for this product</p>
            {% elif request.user.profile == product.owner%}
              <p>you cannot review your own product</p>
            {% elif request.user.is_authenticated%}
            <form class="form" action="{% url 'product' product.id %}" method="POST">
              
              {% csrf_token %}
              {% for field in form %}
              <div class="form__field">
                <label for="formInput#textarea">{{field.label}} </label>
                {{field}}
              </div>
              {% endfor %}
              <input class="btn btn--sub btn--lg" type="submit" value="Add Review" />
            </form>
            {% else %}
            <a href={% url 'login' %}?next={{request.path}}>log in to leave a review</a>
            {% endif %}

            <div class="commentList">
              <h3 class="singleProject__subtitle">Reviews</h3>
              {% for review in product.review_set.all %}
              {% if review.body %}
              <div class="comment">
                <a href="profile.html">
                  <img class="avatar avatar--md"
                    src="{{review.owner.profile_image.url}}"
                    alt="user" />
                </a>
                
                <div class="comment__details">
                  <a href="{% url 'user_profile' review.owner.id %}" class="comment__author">{{review.owner.name}}</a>
                  <p class="comment__info">
                    {{review.body}}
                  </p>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>

{% endblock content %}
